# ==========================
# Python
# ==========================

__pycache__/
*.pyc

# ==========================
# Virtual Environment
# ==========================

.venv/
venv/

# ==========================
# VS Code
# ==========================

.vscode/

# ==========================
# Sistema Operacional
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Datasets locais
# ==========================

dados/
inputs/

# Caso queira ignorar todos os CSVs
# *.csv